<%= render "shared/header"%>

<%="test"%>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>記録する</span>
  <a href="healths/new">
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </a>
</div>
<%= render "shared/footer"%>