<%# CSS・・・assets/stylesheets/shared/header.css %>
<%# トップページのヘッダー %>
<header class='main-page-header'>

  <%# リスト一覧------------------------------------------------------ %>
  <div class='nav'>
    <%# 左側のリスト-------------------------------------------------- %>
    <ul class='left'>
      <%# フリマのロゴ %>
      <%= link_to image_tag("furima-logo-color.png", class: "furima-icon"), "/" %>
    </ul>
    <%# 右側のリスト-------------------------------------------------- %>
    <ul class='right'>
      <%# ユーザーネーム----------------------------------------------- %>
      <li><%= link_to current_user.name, "#", class: "user-nickname" %></li>
      <%# 画像登録している時------------------------------------------ %>
      <% if current_user.image.attached? %>
        <%# 登録画像表示--------------------------------------------- %>
        <li><%= image_tag current_user.image, class: 'login-img' %></li>
      <%# 画像登録していない時----------------------------------------- %>
      <% else %>
        <%# フラッグ画像表示------------------------------------------ %>
        <li><%= image_tag "flag.png", class: 'login-img' %></li>
      <% end %>
    </ul>
  </div>
</header>
