
.weight-table{
  font-size: 13px;
  margin: 10px;

  // border: 1px solid black;
}

.record-date{
  text-align: center;
    // background: blue;
  border: 1px solid black;
  width: 140px;
    }

.record-weight{
  text-align: center;
    // background: blue;
  border: 1px solid black;
  width: 60px;
    }

.record-sleep{
  text-align: center;
    // background: blue;
  border: 1px solid black;
  width: 80px;
    }
  
.record-kcal{
  text-align: center;
    // background: blue;
  border: 1px solid black;
  width: 65px;
    }
