<%# --- 題名 -------------------------------------------------------- %>
<div><h1>編集する</h1></div>
<%# --- 食品登録フォーム -------------------------------------------------------- %>
<div class='flerm'>
  <div class='left'>
    <%# --- 食品検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: training_menu_path, model: @training_menu, local: true, method: :patch) do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div>
  <div class='right'>
  <%# --- 登録表示 ----------------------------------------------------- %>
    <%= render "form2" %>
  </div>

</div>